.headerTitleContainer {
	min-width:20%; 
	overflow: hidden; 
	white-space: nowrap;
	display: flex;
	flex-direction: row;
	padding: 1%;
}

.navigationlist {
	display: flex;
	padding: 3%;
}

.avatar-icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.avatar-dropdown {
    position: relative;
    display: inline-block;
	align-self: center;
	justify-self: center;
    width: 30%;
    height: 100%;
}

.dropdown-content {
    display: none;
    position: relative;
    padding: 1%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    align-self: center;
	justify-self: center;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
}


.avatar-icon:hover +
	.dropdown-content {
		display: block;
	}


.avatar-dropdown:hover .avatar-icon{
    display: none;
}
.dropdown-content:hover  {
	display: block;
}

.navlogo {
    max-height:100%; max-width:100%; height:auto;
                        width:auto; display: block;
}


@media only screen and (max-width: 900px) {
    .avatar-icon {
        display:none;
    }
    .navlogo {
        display: none;
    }
}