<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-2LXPE7W1DF"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-2LXPE7W1DF');
		</script>
		
		<meta charset ="UTF-8"/>
		<title th:text="${title}"></title>
		<meta name="description" th:content="${subtitle}">

		<link rel="icon" type="image/png" href="resources/logo.jpg">
		
		<link href="/css/variables.css" rel="stylesheet" type="text/css">
		<link href="/css/fonts.css" rel="stylesheet" type="text/css">
		<link href="/css/styles.css" rel="stylesheet" type="text/css">
		<link th:replace="../fragments/navigation :: navigationCss">
		
	</head>
	<body>
		<header th:replace="../fragments/navigation :: header"></header>
		<main>
			<h2 th:text="${title}"></h2>
            <div class="aboutText">
				<p th:each="msg: ${msgList}" th:text="${msg}"></p>
			</div>
			
			<form >
				<button type="submit" th:formaction="@{/login}" th:text="${startBtn}"></button>
			</form>
		</main>
	</body>
	<footer th:replace="../fragments/navigation :: footer"></footer>
</html>