<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-2LXPE7W1DF"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-2LXPE7W1DF');
		</script>
		
		<meta charset ="UTF-8"/>
		<title th:text="${title}"></title>
		<meta name="description" th:content="${subtitle}">

		<link rel="icon" type="image/png" href="resources/logo.jpg">
		
		<link href="/css/variables.css" rel="stylesheet" type="text/css">
		<link href="/css/fonts.css" rel="stylesheet" type="text/css">
		<link href="/css/styles.css" rel="stylesheet" type="text/css">
		<link th:replace="../fragments/navigation :: navigationCss">
		
	</head>
	<body>
		<header th:replace="../fragments/navigation :: header"></header>
		<main>
            <h2 th:text="${title}"></h2>
			<form  th:action="@{/account/edit}" method='POST' enctype="multipart/form-data">
				<div class="fieldDiv">
					<div
						th:if="${message != null}"
						th:class="${classs}"
						role="alertdialog">
						[[${message}]]
					</div>
					<label th:text="${avatarLbl}"></label><br>
					<input id="input-file" type="file" name="file" accept="image/png, image/jpeg" />
				</div>
				<div class="fieldDiv">
					<div th:if="${errorEmail}" th:text="${errorEmailMsg}" class="errorDiv"></div>
					<label th:text="${emailLbl}"></label><br>
					<input th:value="${email}" type="email" id="email" name="email">
				</div>
				<div class="fieldDiv">
					<label th:text="${langLbl}"></label> <br>
					<select id="lang" name="lang" required >
						<option value="Español" th:selected="${langValueES}">Español</option>
						<option value="English" th:selected="${langValueEN}">English</option>
					</select>
				</div>
                <button type="submit" th:text="${editBtn}"></button>
            </form>
		</main>
	</body>
	<footer th:replace="../fragments/navigation :: footer"></footer>
</html>