<html>
	<head>
		<meta charset ="UTF-8"/>
		<title>Verónica Sánchez Justicia</title>
		<link rel="icon" type="image/png" href="../static/resources/favicon.png">
		
		<link href="/css/variables.css" rel="stylesheet" type="text/css">
		<link href="/css/fonts.css" rel="stylesheet" type="text/css">
		<link href="css/styles.css" rel="stylesheet" type="text/css">
		<link href="css/contact.css" rel="stylesheet" type="text/css">
		<link href="css/header.css" rel="stylesheet" type="text/css">
		<link href="css/footer.css" rel="stylesheet" type="text/css">
	</head>
	
	<body>
		<header th:replace="../fragments/navigation :: header"></header>
		<main>
			<h2>Contacto</h2>
			<div class="content">
				<div class="contactMedia">
					<div class="textContactMedia">
						<p th:text="${email}"></p>
						<p th:text="${telefon}"></p>
					</div>
					<div class="icons">

						<div class="iconSet">
							<a href="mailto:veronicasanchezjusticiainfor@gmail.com">
								<img src="resources/gmail.png" alt="Selfie" >
							</a>
							<a href="https://wa.me/+34644048205?text=Hola, he visto tu pagina web y me gustaria ...">
								<img src="resources/whatsapp.png" alt="Selfie" >
							</a>
						</div>
						<div class="iconSet">
							<a href="https://github.com/VeronicaSj" 
								target="_blank">
								<img src="resources/GitHub.png" alt="Selfie" >
							</a>
							<a href="https://www.linkedin.com/in/ver%C3%B3nica-s%C3%A1nchez-justicia-825a7421a/">
								<img src="resources/linkedin.png" alt="Selfie" >
							</a>
						</div>
					</div>
				</div>
				<div class="contactForm">
					<form action="#" th:action="@{/contactPost}"  method="post">
						<h3>Formulario de contacto: </h3>
						<div class="formPart">
							<label>Email: </label> <br>
							<input id="email" name="email">
						</div>
						<div class="formPart">
							<label>Tema: </label><br>
							<input id="subject" name="subject">
						</div>
						<div class="formPart">
							<label>Mensaje: </label><br>
							<textarea id="msg" name="msg"></textarea>
						</div>
						<p>Todos los campos son requeridos</p>
						<button type="submit">Enviar</button>
					</form>
				</div>
			</div>
		</main>
		<footer th:replace="../fragments/navigation :: footer"></footer>
	</body>
</html>
