<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
	<head>
		<meta charset ="UTF-8"/>
		<title th:text="${title}"></title>
		<meta name="description" th:content="${subtitle}">

		<link rel="icon" type="image/png" href="resources/logo.jpg">
		
		<link href="/css/variables.css" rel="stylesheet" type="text/css">
		<link href="/css/fonts.css" rel="stylesheet" type="text/css">
		<link href="/css/styles.css" rel="stylesheet" type="text/css">
		<link th:replace="../fragments/navigation :: navigationCss">
		
	</head>
	<body>
		<header th:replace="../fragments/navigation :: header"></header>
		<main>
			<div class="sideBar" >
					<a th:each="link : ${sideBarLinks}" 
						class="sideBarItem"
						th:href="@{${link.herf}}" th:text="${link.text}"></a>
			</div>
			<div class="columnDiv">
				<h2 th:text="${title}"></h2>
				<div th:if="${thereAreCourses}" class="courseGridDiv">
					<div th:each="course: ${courseList}" class="courseDiv">
						<div>
							<img th:if="${course.img}" 
								th:src="@{'data:image/jpeg;base64,'+${course.img.getImgBase64()}}" th:alt="course">
							<img th:unless="${course.img}" 
								th:src="@{'data:image/jpeg;base64,'+${defaultImg.getImgBase64()}}" th:alt="course">
						</div>
					</div>
				</div>
				<div th:if="${!thereAreCourses}">
					<h3>There is no course yet!</h3>
				</div>
			</div>
		</main>
	</body>
	<footer th:replace="../fragments/navigation :: footer"></footer>
</html>