<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
	<head>
		<meta charset ="UTF-8"/>
		<title th:text="${title}"></title>
		<meta name="description" th:content="${subtitle}">

		<link rel="icon" type="image/png" href="resources/logo.jpg">
		
		<link href="/css/variables.css" rel="stylesheet" type="text/css">
		<link href="/css/fonts.css" rel="stylesheet" type="text/css">
		<link href="/css/styles.css" rel="stylesheet" type="text/css">
		<link th:replace="../fragments/navigation :: navigationCss">
		
	</head>
	<body>
		<header th:replace="../fragments/navigation :: header"></header>
		<main>
            <h2 th:text="${title}"></h2>
			<form >
				<div class="columnDiv" th:if="${videolist}">
					<table >
						<thead >
							<tr>
								<th scope="col">Video Name</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="video : ${videolist}">
								<td><a th:href="@{${video.id}}" >[[${video.title}]]</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<button type="submit" th:formaction="${btnAddNewHref}">Add New Video</button>
				<button type="submit" th:formaction="${btnNextHref}">Next</button>
			</form>
		</main>
	</body>
	<footer th:replace="../fragments/navigation :: footer"></footer>
</html>