<html>
	<head>
		<meta charset ="UTF-8"/>
		<title>Verónica Sánchez Justicia</title>
		<link rel="icon" type="image/png" href="./favicon.png">
		
		<link href="/css/variables.css" rel="stylesheet" type="text/css">
		<link href="/css/fonts.css" rel="stylesheet" type="text/css">
		<link href="css/styles.css" rel="stylesheet" type="text/css">
		
		<link href="css/header.css" rel="stylesheet" type="text/css">
		<link href="css/footer.css" rel="stylesheet" type="text/css">
	</head>
	
	<body>
		<header th:replace="../fragments/navigation :: header"></header>
		<main>
			<h2>Experiencia</h2>
			<div class="experienceList">
				<div class="experience">
					<h3></h3>
					<p></p>
					<p></p>
					<ul>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
				<div class="experience">
					<h3>Kyndryl Técnica Informática</h3>
					<p>Diciembre 2023 -Junio 2024</p>
					<ul>
						<li>Mantenimiento y revisión de infraestructura J2EE y Arqos</li>
						<li>Resolución de incidencias, peticiones y tareas de cambios</li>
						<li>Uso a diario de terminales de Linux y Unix.</li>
						<li>Revisiones tras migraciones y parcheos. Publicación de activos,
							Cambios en datasources y Cambios en configuraciones de
							apps, Actualización de librerías, Reinicios de servidores,
							Regeneración de plugins</li>
						<li>Participación activa en la formación de compañeros</li>
						<li>Formaciones breves en IA, Big Data, Aprendizaje
							Automático, Computación Cuántica y Microsoft Azure</li>
					</ul>
				</div>
				<div class="experience">
					<h3>Proyectos de Programación Freelance</h3>
					<p>Octubre 2023 - Diciembre 2023</p>
					<p>Trato directo con los clientes y explicaciones de 
					procedimientos, funcionalidades y limitaciones.</p>
					<ul>
						<li>Proyecto Java 1: Programación interna de un juego sencillo.</li>
						<li>Proyecto Java 2: Desarrollo de App Android para revisión de
							una antena mediante fotografías. </li>
						<li>Proyecto web: Modificar página web y publicarla</li>
					</ul>
				</div>
				<div class="experience"></div>
				<div class="experience"></div>
				<div class="experience"></div>
			</div>
		</main>
		<footer th:replace="../fragments/navigation :: footer"></footer>
	</body>
</html>
