<html>
	<head>
		<meta charset ="UTF-8"/>
		<title>New Post Form</title>

        <link rel="icon" type="image/png" href="./favicon.png">

        <link href="/css/variables.css" rel="stylesheet" type="text/css">
		<link href="/css/fonts.css" rel="stylesheet" type="text/css">
		<link href="/css/styles.css" rel="stylesheet" type="text/css">
		<link th:replace="../fragments/navigation :: headerCss">
		<link th:replace="../fragments/navigation :: footerCss">

	</head>
	
	<body>
        <header th:replace="../fragments/navigation :: header"></header>
		<main>
            <h2>Post Form</h2>
            <p>This page is only for the web owner, you shouldn't be here</p>
            <form action="#" th:action="@{/newPost}"  method="post">
                <div >
                    <label>Title: </label><br>
                    <input id="title" name="title">
                </div>
                <div>
                    <label>Content: </label><br>
                    <textarea id="content" name="content"></textarea>
                </div>
                <p>All field required</p>
                <button type="submit">Submit</button>
            </form>
        </main>
		<footer th:replace="../fragments/navigation :: footer"></footer>
	</body>
</html>

