<html>
	<head>
		<meta charset ="UTF-8"/>
		<title>Verónica Sánchez Justicia</title>
		<link rel="icon" type="image/png" href="./favicon.png">
		
		<link href="/css/variables.css" rel="stylesheet" type="text/css">
		<link href="/css/fonts.css" rel="stylesheet" type="text/css">
		<link href="css/styles.css" rel="stylesheet" type="text/css">
		
		<link href="css/header.css" rel="stylesheet" type="text/css">
		<link href="css/footer.css" rel="stylesheet" type="text/css">
	</head>
	
	<body>
		<header th:replace="../fragments/navigation :: header"></header>
		<main>
			<h2>Habilidades</h2>
		</main>
		<footer th:replace="../fragments/navigation :: footer"></footer>
	</body>
</html>