<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
	<head>
		<meta charset ="UTF-8"/>
		<title th:text="${title}"></title>
		<meta name="description" th:content="${subtitle}">

		<link rel="icon" type="image/png" href="resources/logo.jpg">
		
		<link href="/css/variables.css" rel="stylesheet" type="text/css">
		<link href="/css/fonts.css" rel="stylesheet" type="text/css">
		<link href="/css/styles.css" rel="stylesheet" type="text/css">
		<link th:replace="../fragments/navigation :: navigationCss">
		
	</head>
	<body>
		<header th:replace="../fragments/navigation :: header"></header>
		<main>
            <h2 th:text="${title}"></h2>
            <form
				method="post"
				th:action="@{/videos/upload/{redirect}(redirect=${redirect})}"
				enctype="multipart/form-data">
				<input id="input-file" type="file" name="file" accept="video/mp4" />
				<div
					th:if="${message != null}"
					th:class="${classs}"
					role="alertdialog">
					[[${message}]]
				</div>
                <button type="submit" th:text="${btnUploadMsg}"></button>
			</form>
            <div class="btnAreaDiv">
				<div class="btnDiv">
					<a th:href="${btnNextHref}" target="_blank">
						<button type="button" th:text="${btnNextMsg}"></button>
					</a>
				</div>
			</div>
		</main>
	</body>
	<footer th:replace="../fragments/navigation :: footer"></footer>
</html>